//noinspection CssUnknownTarget
@import 'compass';
@import 'settings';

.content {
    display: block;
    min-height: 800px;
    padding-top: 130px;

    h1 {
        font-style: normal;
        font-size: 40px;
    }
}

.navbar-header {
    .navbar-brand {
        margin-top: -10px;

        h6 {
            color: #aaa;
            font-style: italic;
        }
    }
    .navbar-collapse {
        display: inline-block;
    }
}

.navbar-form {
    button,
    .form-group {
        margin-left: 10px;
    }
}


footer {
    padding-left: 15px;
    padding-right: 15px;

    p {
        border-top: 1px solid rgba(255, 255, 255, .3);
        @include box-shadow(0 -1px 0 0 rgba(0, 0, 0, .3));
    }
}