//noinspection CssUnknownTarget
@import 'compass';
@import 'settings';

.content {
    display: block;
    min-height: 800px;
    padding-top: 80px;

    h1 {
        font-style: normal;
        font-size: 40px;
    }
}

.navbar-header {
    height: 50px;

    .navbar-brand {
        margin-top: -10px;
        position: relative;

        h6 {
            color: #aaa;
            font-style: italic;
            margin-top: 5px;
        }
        &:after,
        &:before
        {
            display: block;
            content: "";
            position:absolute;
            width:25px;
            height:50%;
            top:0;
            right: -7px;
            pointer-events: none;
            margin-top: 10px;
            background-size: 25px 55px;
        }
        &:after{
            @include background-image(linear-gradient(55deg,rgba(0,0,0,0) 58%, rgba(0,0,0,1) 58%, rgba(255,255,225,.5) 58%, rgba(0,0,0,1) 62%, rgba(0,0,0,0) 68%));
            background-position: -0px -7px;
        }
        &:before{
            @include background-image(linear-gradient(125deg,rgba(0,0,0,0) 58%, rgba(0,0,0,1) 58%, rgba(255,255,225,.5) 58%, rgba(0,0,0,1) 62%, rgba(0,0,0,0) 68%));
            background-position: -0px 32px;
            top:50%;
        }
        &:hover{
            h6 {
                color: white;
            }
            &:after {
                @include background-image(linear-gradient(55deg,rgba(0,0,0,0) 58%, rgba(0,0,0,1) 58%, rgba(255,255,225,1) 58%, rgba(0,0,0,1) 62%, rgba(0,0,0,0) 68%));
            }
            &:before {
                @include background-image(linear-gradient(125deg,rgba(0,0,0,0) 58%, rgba(0,0,0,1) 58%, rgba(255,255,225,1) 58%, rgba(0,0,0,1) 62%, rgba(0,0,0,0) 68%));
            }
        }
    }
    .navbar-collapse {
        border: none;
        display: inline-block;
        height: 50px;
    }
    .navbar-nav > li {
        display: inline-block;
        & > a {
            text-shadow: 0px 1px 5px black !important;;
        }
    }
}

.navbar-form {
    button,
    .form-group {
        margin-left: 10px;
    }
}

.toast-top-right {
    top: 70px;
}

footer {
    padding-left: 15px;
    padding-right: 15px;

    p {
        border-top: 1px solid rgba(255, 255, 255, .3);
        @include box-shadow(0 -1px 0 0 rgba(0, 0, 0, .3));
    }
}