a:focus {
  outline: 0; }

.main > .navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  z-index: 1030; }

.navbar-header {
  height: 50px; }
  .navbar-header .navbar-brand {
    color: #cecece;
    margin-top: -10px;
    margin-right: 15px;
    padding-right: 20px;
    position: relative; }
    .navbar-header .navbar-brand h6 {
      color: #aaa;
      font-style: italic;
      margin-top: 5px; }
    .navbar-header .navbar-brand:after, .navbar-header .navbar-brand:before {
      background-size: 40px 55px;
      content: "";
      display: block;
      height: 50%;
      margin-top: 10px;
      position: absolute;
      right: -15px;
      top: 0;
      width: 40px; }
    .navbar-header .navbar-brand:after {
      background-position: 0px -7px;
      background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%); }
    .navbar-header .navbar-brand:before {
      background-position: 0px 32px;
      top: 50%;
      background-image: -moz-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -o-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%); }
    .navbar-header .navbar-brand:hover h6, .navbar-header .navbar-brand:focus h6 {
      color: white; }
    .navbar-header .navbar-brand:hover:after, .navbar-header .navbar-brand:focus:after {
      background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%); }
    .navbar-header .navbar-brand:hover:before, .navbar-header .navbar-brand:focus:before {
      background-image: -moz-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -o-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%); }
  .navbar-header .navbar-collapse {
    border: none;
    display: inline-block;
    float: left;
    height: 50px; }
  .navbar-header .navbar-nav > li {
    display: inline-block; }
    .navbar-header .navbar-nav > li > a {
      color: #cecece;
      text-shadow: 0px 1px 5px black !important; }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee; }

@media (max-width: 768px) {
  .navbar-form {
    padding-top: 0; }

  .navbar-right {
    margin-top: -8px;
    margin-bottom: -8px; } }
html {
  position: relative;
  min-height: 100%; }

body {
  margin-bottom: 50px; }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  padding-right: 15px; }
  footer p {
    border-top: 1px solid #999;
    padding-top: 5px; }

.main .page-header:first-child {
  margin-top: 0; }

.content {
  display: block; }
  .content h1 {
    font-style: normal; }

.about-team {
  text-align: center; }
  .about-team img {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block; }

.thick-outline {
  -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.2); }

.about-tech {
  margin-top: 20px; }
  .about-tech > div {
    line-height: 100px;
    height: 130px; }
  .about-tech img {
    display: inline;
    vertical-align: middle; }

.navbar-form button,
.navbar-form .form-group {
  margin-left: 10px; }

.navbar-nav > li > .signup {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 35px; }

.form-control[type="checkbox"] {
  width: 34px; }

.toast-top-right {
  top: 70px; }

/*# sourceMappingURL=layout.css.map */