a:focus {
  outline: 0; }

.navbar-header {
  height: 50px; }
  .navbar-header .navbar-brand {
    color: #cecece;
    margin-top: -10px;
    margin-right: 15px;
    padding-right: 20px;
    position: relative; }
    .navbar-header .navbar-brand h6 {
      color: #aaa;
      font-style: italic;
      margin-top: 5px; }
    .navbar-header .navbar-brand:after, .navbar-header .navbar-brand:before {
      background-size: 40px 55px;
      content: "";
      display: block;
      height: 50%;
      margin-top: 10px;
      position: absolute;
      right: -15px;
      top: 0;
      width: 40px; }
    .navbar-header .navbar-brand:after {
      background-position: 0px -7px;
      background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%); }
    .navbar-header .navbar-brand:before {
      background-position: 0px 32px;
      top: 50%;
      background-image: -moz-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -o-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 58%, #000000 58%, rgba(255, 255, 255, 0.5) 60%, #000000 60%, rgba(0, 0, 0, 0) 66%); }
    .navbar-header .navbar-brand:hover h6, .navbar-header .navbar-brand:focus h6 {
      color: white; }
    .navbar-header .navbar-brand:hover:after, .navbar-header .navbar-brand:focus:after {
      background-image: -moz-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -o-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -webkit-linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%); }
    .navbar-header .navbar-brand:hover:before, .navbar-header .navbar-brand:focus:before {
      background-image: -moz-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -o-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%);
      background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 58%, #000000 58%, #ffffff 60%, #000000 60%, rgba(0, 0, 0, 0) 66%); }
  .navbar-header .navbar-collapse {
    border: none;
    display: inline-block;
    float: left;
    height: 50px; }
  .navbar-header .navbar-nav > li {
    display: inline-block; }
    .navbar-header .navbar-nav > li > a {
      color: #cecece;
      text-shadow: 0px 1px 5px black !important; }

@media (max-width: 768px) {
  .navbar-form {
    padding-top: 0; }

  .navbar-right {
    margin-top: -8px;
    margin-bottom: -8px; } }
footer {
  bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  position: absolute;
  width: 100%; }
  footer p {
    border-top: 1px solid #999;
    padding-top: 5px; }

.content {
  display: block;
  min-height: 800px;
  padding-top: 80px; }
  .content h1 {
    font-style: normal;
    font-size: 40px; }

.navbar-form button,
.navbar-form .form-group {
  margin-left: 10px; }

.navbar-nav > li > .signup {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 35px; }

.toast-top-right {
  top: 70px; }

/*# sourceMappingURL=layout.css.map */