.container.simple-admin-page
    h3 Messages from {{ user.firstName + ' ' + user.lastName }} ({{ user.username }})
    table.table.table-condensed
        tr
            th
            th.date-width Date
            th.time-width Time
            th Location
            th Message
            th Actions
        tr(ng-repeat="message in messages")
            td
                i.icon.icon-bubble2
            td
                i.icon.icon-calendar
                | &nbsp;{{ message.created | date:'yyyy MMMM d' }}
            td
                i.icon.icon-clock
                | &nbsp;{{ message.created | date:'HH:mm' }}
            td
                a(href="{{ message.url }}")
                    i.icon.icon-newtab
                    | &nbsp;{{ message.location }}
            td {{ message.text | characters:70 }}
            td
                a.btn.btn-xs.btn-default(href="", popover-placement="left", popover="{{message.text}}", popover-trigger="click")
                    | Show
                | &nbsp;
                a.btn.btn-xs.btn-default(href="/admin/answer/{{ user._id }}/{{ message._id }}")
                    i.icon.icon-undo2
                | &nbsp;
                a.btn.btn-xs.btn-danger(ng-click="delete(message._id)")
                    i.icon.icon-remove2