.container
    table.table.table-hover.table-condensed.users-list
        tr
            th
            th Name
            th Username
            th Roles
            th Messages
            th Actions
        tr(ng-repeat="user in users")
            td
                i.icon.icon-user
            td {{ user.firstName + ' ' + user.lastName }}
            td {{ user.username }}
            td {{ user.roles.join(', ') }}
            td
                a(href="/admin/messages/{{ user._id }}")
                    i.icon.icon-envelope
                    | &nbsp;{{ user.unreadMessages }}/{{ user.allMessages }}
            td
                a.btn.btn-default(ng-click="lock(user._id)")
                    i.icon.icon-unlocked
                | &nbsp;
                a.btn.btn-default(ng-click="edit(user._id)")
                    i.icon.icon-pencil2
                | &nbsp;
                a.btn.btn-danger(ng-click="delete(user._id)")
                    i.icon.icon-remove