.container
    table.table
        tr
            th Name
            th Username
        tr(ng-repeat="user in users")
            td {{ user.firstName + ' ' + user.lastName }}
            td {{ user.username }}