@mixin tableWithIcon {
    .table td {
        vertical-align: middle;

        &:first-child {
            text-align: center;
            width: 30px;
        }
    }
}


.right { float: right; }
.left  { float: left;  }
.clear { clear: both;  }

.main {
    .page-header:first-child {
        margin-top: 0;
    }
}

.content {
    display: block;

    h1 {
        font-style: normal;
    }
}

.about-team {
    text-align: center;

    img {
        @include border-radius(50%);
        @include inline-block();
    }
}

.thick-outline {
    @include box-shadow(0 0 0 10px rgba(0,0,0,.2));
}

.about-tech {
    margin-top: 20px;

    & > div {
        height: 130px;
        line-height: 100px;
    }

    img {
        display: inline;
        vertical-align: middle;
    }
}

.simple-admin-page {

    @include tableWithIcon;

    th {
        background-color: #f9f9f9;
    }

    .icon-calendar,
    .icon-clock {
        color: #999;
        font-size: 80%;
    }

    .date-width { width: 150px; }

    .time-width { width: 70px; }

    .popover {
        max-width: 800px;

        &.left > .arrow:after {
            border-left-color: rgba(0,0,0,.15);
        }
    }
}

// Main page

.panel-heading {
    .label {
        margin-top: -4px;
        padding-bottom: .4em;
        padding-top: .4em;
        @include inline-block(middle);
    }
}


// Course Details

.admin-row {
    margin-bottom: 10px;
}

.presentation {
    margin-bottom: 20px;
}

.tags-wrapper {

    .tags {
        @include inline-block(top);
        margin-top: -2px;

        .label {
            margin-right: 5px;
        }
    }
}

.star-rating {

    .rating {
        color: rgba(200,200,0,.7);
    }

    .btn-link {
        border: 0;
        margin-top: -10px;
        padding: 0;
    }
}

.challenges {

    @include tableWithIcon;

    .actions {
        width: 100px;
    }

    .label {
        vertical-align: middle;
    }

    tbody {
        tr:last-child td {
            border-bottom: 1px solid #ddd;
        }
    }
}

// Challenges

.first-row {
    margin-bottom: 20px;
}

.challenge-header {
    h2 {
        text-align: center;
    }

    .label {
        margin-top: 30px;
        @include inline-block(top);
    }
}

.skip-challenge {
    margin-top: 25px;
    text-align: right;
    text-decoration: underline;
}
