
.main {
    .page-header:first-child {
        margin-top: 0;
    }
}

.content {
    display: block;

    h1 {
        font-style: normal;
    }
}

.about-team {
    text-align: center;

    img {
        @include border-radius(50%);
        display: inline-block;
    }
}

.thick-outline {
    @include box-shadow(0 0 0 10px rgba(0,0,0,0.2));
}

.about-tech {
    margin-top: 20px;

    & > div {
        line-height: 100px;
        height: 130px;
    }

    img {
        display: inline;
        vertical-align: middle;
    }
}

.simple-admin-page {
    th {
        background-color: #f9f9f9;
    }
    .table>tbody>tr>td {
        vertical-align: middle;

        &:first-child {
            width: 30px;
            text-align: center;
        }
    }
    .icon-calendar, .icon-clock {
        font-size: 80%;
        color: #999;
    }

    .date-width { width: 150px; }
    .time-width { width: 70px; }

    .popover {
        max-width: 800px;
        &.left > .arrow:after {
            border-left-color: rgba(0,0,0,.15);
        }
    }
}

// Course Details

.tags-wrapper {
    .tags {
        display: inline-block;
        margin-top: -2px;
        vertical-align: top;
        .label {
            margin-right: 5px;
        }
    }
}

.star-rating {
    .rating {
        color: rgba(200,200,0,.7);
    }
    .btn-link {
        border: 0;
        padding: 0;
        margin-top: -10px;
    }
}

// Challenges

.back {
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    display: block;

    .icon {
        color: #428BCA;
        margin-right: 5px;
    }
}

.submit-answer {
    text-transform: uppercase;
}

.skip-challenge {
    text-decoration: underline;
}