// Custom dialog/modal headers

.dialog-header-error   { background-color: #d2322d; }
.dialog-header-wait    { background-color: #428bca; }
.dialog-header-notify  { background-color: #eee; }
.dialog-header-confirm { background-color: #333; }

.dialog-header-error,
.dialog-header-wait,
.dialog-header-confirm {
    span,
    h4 {
        color: #fff;
    }
}

// Ease Display

.pad { padding: 25px; }

.modal-content {
    @include border-radius(0);

    textarea {
        min-height: 100px;
        width: 100% !important;
    }
}

.modal-body {
    padding-bottom: 0;
}
