/* Custom dialog/modal headers */

.dialog-header-error    { background-color: #d2322d; }
.dialog-header-wait     { background-color: #428bca; }
.dialog-header-notify   { background-color: #eeeeee; }
.dialog-header-confirm  { background-color: #333333; }

.dialog-header-error,
.dialog-header-wait,
.dialog-header-confirm {
    span, h4 {
        color: #ffffff;
    }
}

/* Ease Display */

.pad { padding: 25px; }

.modal-content {
    @include border-radius(0);

    textarea {
        width: 100% !important;
    }
}

.modal-body {
    padding-bottom: 0;
}