$footer-height: 50px;

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    padding-left: 15px;
    padding-right: 15px;

    p {
        border-top: 1px solid #999;
        padding-top: 5px;
    }
}