
.navbar-form {
    button,
    .form-group {
        margin-left: 10px;
    }
}

.navbar-nav > li > .signup {
    line-height: 35px;
    padding-bottom: 0;
    padding-top: 0;
}

.form-control[type="checkbox"] {
    width: 34px;
}