.main > .navbar {
    @include border-radius(0);
    z-index: 1030;
}

.navbar-header {
    height: $header-height;

    //noinspection SassScssUnresolvedFunction,SassScssUnresolvedMixin
    @mixin custom-gradient($deg, $color) {
        @include background-image(linear-gradient(
            $deg,
            transparent 58%,
            #000        58%,
            $color      60%,
            #000        60%,
            transparent 66%
        ));
    }

    .navbar-brand {
        @include inline-block();
        color: $global-headerLink-color;
        float: left;
        margin-right: 15px;
        margin-top: -10px;
        padding-right: 20px;
        position: relative;

        h6 {
            color: #aaa;
            font-style: italic;
            margin-top: 5px;
        }

        &:after,
        &:before {
            background-size: 40px 55px;
            content: "";
            display: block;
            height: 50%;
            margin-top: 10px;
            position: absolute;
            right: -15px;
            top: 0;
            width: 40px;
        }

        $gradient-top-direction: 45deg;
        $gradient-bottom-direction: 135deg;
        $gradient-color: rgba(255,255,255,.5);
        $hoverColor: #fff;

        &:after {
            background-position: 0 -7px;
            @include custom-gradient($gradient-top-direction, $gradient-color);
        }

        &:before {
            background-position: 0 32px;
            top: 50%;
            @include custom-gradient($gradient-bottom-direction, $gradient-color);
        }

        &:hover,
        &:focus {
            h6       { color: $hoverColor; }
            &:after  { @include custom-gradient($gradient-top-direction, $hoverColor);    }
            &:before { @include custom-gradient($gradient-bottom-direction, $hoverColor); }
        }
    }

    .navbar-collapse {
        @include inline-block();
        border: none;
        float: left;
        height: $header-height;
    }

    .navbar-nav > li {
        @include inline-block();

        & > a {
            color: $global-headerLink-color;
            @include text-shadow(0 1px 5px #000 !important);
        }
    }
}

.sub-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

@media (min-width: 768px) {
    .navbar-header {
        min-width: 500px;
    }
}

@media (max-width: 768px) {
    .navbar-form {
        padding-top: 0;
    }

    .navbar-right {
        margin-bottom: -8px;
        margin-top: -8px;
    }
}