$global-headerLink-color: #cecece !global;

.navbar-header {
    height: $header-height;

    //noinspection SassScssUnresolvedFunction,SassScssUnresolvedMixin
    @mixin custom-gradient($deg, $color) {
        @include background-image(linear-gradient(
            $deg,
            transparent 58%,
            black       58%,
            $color      58%,
            black       62%,
            transparent 68%
        ));
    }

    .navbar-brand {
        color: $global-headerLink-color;
        margin-top: -10px;
        margin-right: 15px;
        padding-right: 20px;
        position: relative;

        h6 {
            color: #aaa;
            font-style: italic;
            margin-top: 5px;
        }

        &:after,
        &:before
        {
            background-size: 40px 55px;
            content: "";
            display: block;
            height: 50%;
            margin-top: 10px;
            position:absolute;
            right: -15px;
            top: 0;
            width: 40px;
        }

        $gradient-top-direction: 45deg;
        $gradient-bottom-direction: 135deg;
        $gradient-color: rgba(255,255,255,.5);
        $hoverColor: white;

        &:after{
            background-position: 0px -7px;
            @include custom-gradient($gradient-top-direction, $gradient-color);
        }
        &:before{
            background-position: 0px 32px;
            top:50%;
            @include custom-gradient($gradient-bottom-direction, $gradient-color);
        }
        &:hover,
        &:focus {
            h6       { color: $hoverColor; }
            &:after  { @include custom-gradient($gradient-top-direction, $hoverColor);    }
            &:before { @include custom-gradient($gradient-bottom-direction, $hoverColor); }
        }
    }
    .navbar-collapse {
        border: none;
        display: inline-block;
        float: left;
        height: $header-height;
    }
    .navbar-nav > li {
        display: inline-block;
        & > a {
            color: $global-headerLink-color;
            text-shadow: 0px 1px 5px black !important;;
        }
    }
}