.container
    h1 {{ course.title }}
    .row
        .col-md-6
            h3(ng-show="course.featured") Featured
            h3 Published on {{ course.published | date }}

        .col-md-6
            .panel.panel-primary
                .panel-heading Tags
                .panel-body
                    div(ng-repeat="tag in course.tags") {{ tag }}
    .row(ng-show="identity.currentUser.isAdmin()")
        .col-md-2
            a(href="/courses/{{ course._id }}/challenge/new") Add challenge

    .row
        .col-md-12
            table.table.table-hover.table-striped.table-condensed
                thead
                    tr
                        th
                        th Description
                tbody
                    tr(ng-repeat="(i, challenge) in course.challenges")
                        td  {{ i + 1 }}
                        td
                            a(href="/courses/{{ course._id }}/challenge/{{ challenge._id }}") {{ challenge.description }}
