.container

    .row.admin-row(ng-show="identity.currentUser.isAdmin()")
        .col-md-12
            a.btn.btn-sm.btn-success(href="/courses/{{ course._id }}/challenge/new")
                i.icon.icon-plus
                | &nbsp; New Challenge
            | &nbsp;
            button.btn.btn-sm.btn-warning(ng-show="!course.published", ng-click="publish()")
                i.icon.icon-checkbox-unchecked
                | &nbsp; Published
            button.btn.btn-sm.btn-success(ng-show="course.published", ng-click="unpublish()")
                i.icon.icon-checkbox-checked
                | &nbsp; Published
            | &nbsp;
            button.btn.btn-sm.btn-warning(ng-show="!course.readyToTest", ng-click="readyToTest(true)")
                i.icon.icon-checkbox-unchecked
                | &nbsp; Ready to test
            button.btn.btn-sm.btn-success(ng-show="course.readyToTest", ng-click="readyToTest(false)")
                i.icon.icon-checkbox-checked
                | &nbsp; Ready to test
            | &nbsp;
            button.btn.btn-sm.btn-default(ng-disabled="course.published", ng-click="edit()")
                i.icon.icon-pencil2

            button.btn.btn-sm.btn-danger.right(ng-disabled="course.published", ng-click="delete()")
                i.icon.icon-remove2

    .row
        .col-md-12
            a.btn.btn-sm.btn-default(href="/courses")
                i.icon.icon-arrow-left3
                | &nbsp; List of courses

            .right(ng-show="!course.started && !identity.currentUser.isAdmin()")
                .label.label-default(ng-show="!identity.isAuthenticated()")
                    | Log in to start the course
                button.btn.btn-sm.btn-success(ng-show="identity.isAuthenticated()", ng-click="start()")
                    | START NOW!
            .right(ng-show="course.started || identity.currentUser.isAdmin()")
                script(src='https://apis.google.com/js/platform.js')
                .g-savetodrive(data-src='{{ getFileUrl() }}', data-filename='{{ course.localFileName }}', data-sitename='Extreme-JFA-Course')
                | &nbsp;
                a.btn.btn-sm.btn-primary(href="{{ getFileUrl() }}", target="_self", download='{{ course.localFileName }}')
                    i.icon.icon-download3
                    | &nbsp; Materials

    .row
        .col-md-10
            h1 {{ course.title }}
    .row
        .col-md-6
            .tags-wrapper
                | Tags: &nbsp;
                div.tags(ng-repeat="tag in course.tags")
                    span.label.label-default {{ tag }}

            .star-rating
                rating(ng-show="identity.isAuthenticated()", ng-model="currentRate", max="5", on-hover="hoverRating(value)" on-leave="leaveRating()", readonly="isReadonly")
                div(ng-show="userRate  > 0 && userRate <= 3")
                    .btn.btn-link(ng-click="openFeedbackModal()") What should we do better?

        .col-md-6
            p.right Published on {{ course.publishDate | date }}
            br.clear
            p.right Last update on {{ course.lastUpdate | date }}

    .row.presentation(ng-show="course.started || identity.currentUser.isAdmin()")
        .col-md-12
            iframe(src="{{ trustSrc(course.presentationUrl) }}", width="100%", height="480")


    .row.challenges
        .col-md-12(ng-include="'/partials/challenges/challenge-list'")
