.container
    .row
        .col-md-10
            h1 {{ course.title }}
            .tags-wrapper
                | Tags:&nbsp;
                div.tags(ng-repeat="tag in course.tags")
                    span.label.label-info {{ tag }}
        .col-md-2(ng-show="identity.currentUser.isAdmin()")
            button.btn.btn-danger(ng-click="delete()")
                i.icon.icon-remove2
    .row
        .col-md-6
            rating(ng-show="identity.isAuthenticated()", ng-model="currentRate", max="5", on-hover="hoverRating(value)" on-leave="leaveRating()", readonly="isReadonly")
            div(ng-show="userRate  > 0 && userRate <= 3")
                a(href="#") What should we do better?
            h3 Published on {{ course.published | date }}

    .row(ng-show="identity.currentUser.isAdmin()")
        .col-md-2
            a.btn.btn-success.btn-sm(href="/courses/{{ course._id }}/challenge/new")
                i.icon.icon-plus
                | &nbsp;New Challenge
    .row
        .col-md-12(ng-include="'/partials/challenges/challenge-list'")


