.container
    .well.course-form
        form.form-horizontal(name="newCourseForm")
            fieldset
                legend New Course
                .form-group
                    label.col-md-2.control-label(for="title") Title
                    .col-md-10
                        input.form-control(name="title", type="text", placeholder="Title", ng-model="title", required)
                .form-group
                    label.col-md-2.control-label(for="localFilePath") File Path
                    .col-md-10
                        input.form-control(name="localFilePath", type="text", ng-model="localFilePath")
                .form-group
                    label.col-md-2.control-label(for="localFileName") File Name
                    .col-md-10
                        input.form-control(name="localFileName", type="text", ng-model="localFileName")
                .form-group
                    label.col-md-2.control-label(for="presentationUrl") Presentation Url
                    .col-md-10
                        input.form-control(name="presentationUrl", type="text", ng-model="presentationUrl")
                .form-group
                    label.col-md-2.control-label(for="videoUrl") Video Url
                    .col-md-10
                        input.form-control(name="videoUrl", type="text", ng-model="videoUrl")
                .form-group
                    label.col-md-2.control-label(for="description") Description
                    .col-md-10
                        textarea.form-control(name="description", placeholder="Description", ng-model="description")
                .form-group
                    label.col-md-2.control-label(for="tags") Tags
                    .col-md-10
                        input.form-control(name="tags", type="text", placeholder="Tags", ng-model="tags")
                .form-group
                    label.col-md-2.control-label(for="featured") Featured
                    .col-md-10
                        input.form-control(name="featured", type="checkbox", ng-model="featured")
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="submit()", ng-disabled="newCourseForm.$invalid") Submit
                            | &nbsp;
                            a.btn.btn-default(href="/") Cancel
