.container
    h1.page-header Team
    .row.about-team
        .col-md-4.col-xs-6
            img.thick-outline.img-responsive(alt="", src="/images/about/pd.png")
            h4 Paweł Dyda
            span.text-muted Developer
        .col-md-4.col-xs-6
            img.thick-outline.img-responsive(alt="", src="/images/about/jc.png")
            h4 Jacek Czarniecki
            span.text-muted Manager
        .col-md-4.col-xs-6
            img.thick-outline.img-responsive(alt="", src="/images/about/mt.png")
            h4 Małgorzata Tomkowicz
            span.text-muted Designer

    h2.sub-header Technology
    .row.about-tech
        .col-md-2.col-xs-4
            .thick-outline
                img.img-responsive(alt="", src="/images/tech/angular.jpg")
        .col-md-2.col-xs-4
            .thick-outline
                img.img-responsive(alt="", src="/images/tech/bootstrap.jpg")
        .col-md-2.col-xs-4
            .thick-outline
                img.img-responsive(alt="", src="/images/tech/mongodb.png")
        .col-md-2.col-xs-4
            .thick-outline
                img.img-responsive(alt="", src="/images/tech/sass.png")
        .col-md-2.col-xs-4
            .thick-outline
                img.img-responsive(alt="", src="/images/tech/compass.jpg")
        .col-md-2.col-xs-4
            .thick-outline
                img.img-responsive(alt="", src="/images/tech/nodejs.png")


