.container
    script#regex-template(type='text/x-handlebars-template')
        h3 {{title}}
        p {{{instruction}}}
        | {{{body}}}
        p {{{altinstruction}}}
        | {{{altbody}}}
        label(for='word') Dodaj testowe słowo:
        input#word(name='word', type='text', placeholder='Wpisz słowo')
        label
            input#wordcheck(type='checkbox', checked='checked')
            | dopasuj
        button#addword Dodaj
        br
        input#reinput(type='text', placeholder='Wpisz wyrażenie')
        button#hint Podpowiedź
        br

    script#automaton-template(type='text/x-handlebars-template')
        h3 {{title}}
        p {{{instruction}}}
        canvas#cnvs(width='320', height='320')
        br
        input#input(type='text', placeholder='Wpisz słowo')
        button#hint Podpowiedź
        br
        p {{quizTitle}}
        p#quizQuestion

    .row.first-row
        .col-md-12
            a.btn.btn-sm.btn-default(href="/courses/{{ courseId }}")
                i.icon.icon-arrow-left3
                | &nbsp; Back to "{{ course.title }}"

    .row.challenge-header
        .col-md-3
            span.label.label-success(ng-show="challenge.level=='basic'") Basic
            span.label.label-info(ng-show="challenge.level=='advanced'") Advanced
            span.label.label-warning(ng-show="challenge.level=='expert'") Expert
        .col-md-6
            h2 Exercise {{ challengeIndex + 1 }}/{{ course.challengesCount }}
        .col-md-3
            button.btn.btn-link.btn-block.skip-challenge(ng-click="skip()", ng-show="challengeIndex < course.challengesCount - 1") Skip to next
    .row
        .col-md-12
            .well
                .challenge-body
