.container
    .row.first-row
        .col-md-12
            a.btn.btn-sm.btn-default(href="/courses/{{ courseId }}")
                i.icon.icon-arrow-left3
                | &nbsp; Back to "{{ course.title }}"
    .row
        .col-xs-8
            .col-xs-4
                button.btn.btn-default.btn-block(ng-class="{active: challenge.level=='basic'}") Basic
            .col-xs-4
                button.btn.btn-default.btn-block(ng-class="{active: challenge.level=='advanced'}") Advanced
            .col-xs-4
                button.btn.btn-default.btn-block(ng-class="{active: challenge.level=='expert'}") Expert
    br
    .row
        .col-md-6
        .col-md-6
            .row
                .col-md-7
                    h2 Exercise {{ challengeIndex+1 }}/{{ course.challengesCount }}
                .col-md-5
                    button.btn.btn-primary.btn-block.submit-answer(ng-click="submit()") Submit your answer
                    button.btn.btn-link.btn-block.skip-challenge(ng-click="skip()", ng-show="challengeIndex < course.challengesCount - 1") Skip to next
            br
    .row
        .col-md-6
            .well
                h3 Placeholder for live editor
                textarea.form-control {{ challenge.initialInput }}
                br
                button.btn.btn-warning.btn-block
                    i.icon.icon-lab
                    | &nbsp;Execute
                br
                textarea.form-control(placeholder="Output")
        .col-md-6
            .description
