.navbar-right(ng-controller="LoginController")
    form.navbar-form(ng-hide="identity.isAuthenticated()")

        ul.nav.navbar-nav
            li
                a(href="/signup").signup Sign Up

        .form-group
            input.form-control(placeholder="Email", ng-model="username")
        .form-group
            input.form-control(type="password" placeholder="Password", ng-model="password")
        button#login.btn.btn-primary(ng-click="signin()") Log in

    ul.nav.navbar-nav.navbar-right(ng-show="identity.isAuthenticated()")
        li#userActions.dropdown
            a.dropdown-toggle(href="")
                | {{ identity.currentUser.firstName + " " + identity.currentUser.lastName }}&nbsp;
                b.caret
            ul.dropdown-menu
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/admin/users")
                        i.icon.icon-user4
                        | &nbsp;Admin Panel
                li(ng-show="identity.currentUser.isAdmin()")
                    a(href="/courses/new")
                        i.icon.icon-plus
                        | &nbsp;New Course
                li
                    a(href="/profile")
                        i.icon.icon-user
                        | &nbsp;Profile
                li.with-spanner(ng-hide="identity.currentUser.isAdmin()")
                    a(href="#", ng-click="openFeedbackModal()")
                        i.icon.icon-bubble2
                        | &nbsp;Feedback
                li.with-spanner
                    a(href="#", ng-click="signout()")
                        i.icon.icon-exit
                        | &nbsp;Log Out