doctype
html
    head
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="vendor/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="vendor/toastr/toastr.css")
        link(rel="stylesheet", href="css/layout.css")
    body(ng-app='app')
        div(class="main")
            block main-content
        include scripts
