script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")

script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")


script(type="text/javascript", src="/app/app.js")

//-
//- Common
//-
script(type="text/javascript", src="/app/common/NotifierService.js")
script(type="text/javascript", src="/app/common/Utils.js")

//-
//- Controllers
//-
script(type="text/javascript", src="/app/main/MainController.js")
script(type="text/javascript", src="/app/about/AboutController.js")
script(type="text/javascript", src="/app/admin/UserListController.js")
script(type="text/javascript", src="/app/admin/UserMessagesController.js")
script(type="text/javascript", src="/app/admin/UserRatingsController.js")

script(type="text/javascript", src="/app/account/LoginController.js")
script(type="text/javascript", src="/app/account/SignupController.js")
script(type="text/javascript", src="/app/account/ProfileController.js")

script(type="text/javascript", src="/app/courses/CourseController.js")
script(type="text/javascript", src="/app/courses/CourseDetailsController.js")
script(type="text/javascript", src="/app/courses/NewCourseController.js")

script(type="text/javascript", src="/app/challenges/ChallengeController.js")
script(type="text/javascript", src="/app/challenges/ChallengeDetailsController.js")
script(type="text/javascript", src="/app/challenges/NewChallengeController.js")

//-
//- Services
//-
script(type="text/javascript", src="/app/account/IdentityService.js")
script(type="text/javascript", src="/app/account/AuthService.js")
script(type="text/javascript", src="/app/courses/CourseEditor.js")
script(type="text/javascript", src="/app/challenges/ChallengeEditor.js")

//-
//- Models
//-
script(type="text/javascript", src="/app/account/UserModel.js")
script(type="text/javascript", src="/app/courses/CourseModel.js")
script(type="text/javascript", src="/app/courses/CachedCourse.js")
script(type="text/javascript", src="/app/admin/MessageModel.js")
script(type="text/javascript", src="/app/admin/CachedMessage.js")
script(type="text/javascript", src="/app/admin/RatingModel.js")
script(type="text/javascript", src="/app/admin/CachedRating.js")
script(type="text/javascript", src="/app/challenges/ChallengeModel.js")
script(type="text/javascript", src="/app/challenges/CachedChallenge.js")

//-
//- Debug
//-
script(type="text/javascript", src="/app/debug/scenario.js")
